*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: blanchedalmond;
}

header{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

header nav a{
    text-decoration: none;
    font-size: 2rem;
    color: cadetblue;
}
header nav a:hover{
    color: darkcyan;
}

header img {
    margin: 20px;
    width: 100px;
}

.nav1, .nav2 {
    display: flex;
    gap: 40px;
}

