/*font-family: 'Palanquin Dark', sans-serif;*/
/* #968dcc */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 80%;
}
body{
    background-color: rgb(209, 190, 171);
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
header{
    background:#968dcc;
    height: 10%;
}
header nav a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(209, 190, 171);
    font-family: 'Palanquin Dark', sans-serif;
}
header nav a:hover{
    color: rgb(63, 50, 66);
}

header img {
    margin: 0.5rem;
    width: 10rem;
}
#img-carrusel{
    width: 100%;
    height: 70rem;
}

.nav1,
.nav2 {
    display: flex;
    gap: 40px;
}
.rrss{
    padding: 0.3rem;
    color:rgb(255, 255, 255);
   
}
footer{
    background: #968dcc;
    height: 10rem;
    display: flex;
    flex-direction: row;
}
.redes{
    width: 50%;
    padding: 1rem;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}
#linkcontacto{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(209, 190, 171);
    font-family: 'Palanquin Dark', sans-serif;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: end;
    justify-items: end;
    text-align: end;

}
/**/
#containerCards{
    display: flex;
    flex-direction:row;
    margin-top: 22px;
    margin-bottom: 30px;
    justify-content:center;
    gap:30px;
    height: 40vh;
}
#card{
    display: flex;
    margin-top: 22px;

    width: 70vh;
    height: 40vh;
    border: 4px solid  #968dcc ;
    background-color:  #968dcc38 ;
}
#imageCard{
    height: 30vh;
    width: 30vh;
}
h5, #textCard, #text-card, small{
    font-family: 'Palanquin Dark', sans-serif;
}
/**/
section{
    display: flex;
    width:  100%;
    height: 37.5rem;

}
section img {

    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
   
}

section:hover{
   cursor: crosshair;
   width: 18.7rem;
   opacity: 1;
   filter: contrast(120%);
   object-fit: cover;
    
}
#imageCardGalleria{
    width: 5rem;
    height: 37.5rem;
}
#imageCardGalleria:hover{
   transform: scale(1);
   opacity: 1;
   cursor: crosshair;
    width:  35rem;
   opacity: 1;
   filter: contrast(120%);
  
}

/**/
#info-tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
#img-quienesSomos{
    width: 25rem;
    height: 27rem;
}
#text-quienesSomos{
    font-size: 1rem;
    color: #968dcc;
    font-family: 'Palanquin Dark', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-items: center;
    text-align: start;
}
#text-quienesSomos-titulo{
    font-size: 1.5rem;
    color: #968dcc;
    font-family: 'Palanquin Dark', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-items: center;
    text-align: start;
}



.main-contacto {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.form-label{
    font-family: 'Palanquin Dark', sans-serif;
    margin:5px;
}
.form-control{
    font-family: 'Palanquin Dark', sans-serif;
}
.formulario {
    min-width: 30%;
    background-color:rgba(153, 131, 108, 0.767); ;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Palanquin Dark', sans-serif;;
}

.Contacto{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
@media (min-width:320px) and (max-width:600px){
    .Contacto{
        margin-bottom: 3%;
        flex-direction: column;
    }
    .container-a{
       gap: 10px;
        

    }
}
.fotter-img{
    width: 50px;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    
}
.container-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
  
}
#mapa{
    border: 2px solid blanchedalmond;
    margin-right: 10px;
    gap:2rem;
    display: flex;
    justify-content: center;
}
.titulo-mapa{
    display: flex;
    align-items: center;
}
